aioredis==2.0.1
ccxt==4.4.94
cvxpy==1.7.0
deap==1.4.3
fastapi==0.115.6
matplotlib==3.10.3
networkx==3.5
paho-mqtt==1.6.1
pandas==2.2.3
plotly==6.0.1
pydantic==2.10.5
pyinform==0.2.0
pyjwt==2.7.0
pyodbc==5.2.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-multipart==0.0.20
python-telegram-bot==22.3
pytz==2024.2
redis==5.2.1
requests==2.32.3
scipy==1.16.0
seaborn==0.13.2
sko==0.5.7
SQLAlchemy==1.4.26
streamlit==1.44.1
streamlit-cookies-controller==0.0.4
tqdm==4.67.1
uvicorn==0.34.0